@font-face {
  font-family: "Zing Rust Demo";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/zing-rust-base.otf") format("opentype");
}
@font-face {
  font-family: "Zuume Rough";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/zuume-rough-bold.otf") format("opentype");
}

@import "tailwindcss";

@theme {
  --color-black: #070606;
  --color-white: #e5f1f2;
  --color-cyan: #05ffc0;
  --color-orange: #c07124;
  --color-pink: #d58993;
  --color-purple: #8063f2;
  --color-blue: #123dfa;

  --font-sans: "Inter", "Arial", sans-serif;
  --font-display: "Zing Rust Demo", "Arial", sans-serif;
  --font-spacey: "Zuume Rough", "Arial", sans-serif;
  --font-handwriting: "Caveat", "Arial", sans-serif;
}

.clip-path-circle {
  clip-path: circle(2.5% at 50% 14%);
}
