@import "tailwindcss";

@theme {
  --color-black: #070606;
  --color-white: #e5f1f2;
  --color-cyan: #05ffc0;
  --color-orange: #c07124;
  --color-pink: #d58993;
  --color-purple: #8063f2;

  --font-sans: "Montserrat", "Arial", sans-serif;
}
