@font-face {
  font-family: "Zing Rust Demo";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/zing-rust-base.otf") format("opentype");
}
@font-face {
  font-family: "Zuume Rough";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/zuume-rough-bold.otf") format("opentype");
}

@import "tailwindcss";

@theme {
  --color-black: #070606;
  --color-white: #e5f1f2;
  --color-cyan: #05ffc0;
  --color-orange: #c07124;
  --color-pink: #d58993;
  --color-purple: #8063f2;
  --color-blue: #123dfa;

  --font-sans: "Inter", "Arial", sans-serif;
  --font-display: "Zing Rust Demo", "Arial", sans-serif;
  --font-spacey: "Zuume Rough", "Arial", sans-serif;
  --font-handwriting: "Caveat", "Arial", sans-serif;
}

html,
body {
  overscroll-behavior: none;
}

.clip-path-circle {
  clip-path: circle(2.5% at 50% 14%);
}

.mix-blend-btn {
  position: relative; /* ensures ::before is positioned to the button */
  isolation: isolate; /* keeps blending contained so only the pseudo-element mixes with what's behind */
}

/* blended background layer */
.mix-blend-btn::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  border-radius: 9999px; /* match the rounded-[5rem] */
  background: rgb(255, 255, 255); /* tweak color/gradient as needed */
  mix-blend-mode: difference; /* or whatever blend you want */
  z-index: 0;
  pointer-events: none;
}

/* keep content above the pseudo-element */
.mix-blend-btn > * {
  position: relative;
  z-index: 1;
}

.object-fit-video {
  container-type: size;

  /* cut off overflowing video */
  overflow: hidden;
}

.object-fit-video > iframe {
  position: absolute;
  /* keep video centered both vertically and horizontally */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  /* force aspect ratio based on parent container */
  @container (min-aspect-ratio: 16/9) {
    height: 53.44cqw; /* 1.871:1 */ /* 56.25cqw in 16:9 */
  }

  @container (max-aspect-ratio: 16/9) {
    width: 187.1cqh; /* 1.871:1 */ /* 177.78cqh in 16:9 */
  }

  /* prevent interaction */
  pointer-events: none;
}
